<app-header></app-header>

<main class="main">
  <section id="bannerHeader">
    <div class="content-banner-header scale-bg">
      <div class="md-mx-auto content-text-banner-header">
        <div fxLayout="column" fxLayoutAlign="space-between start" class="text-banner">
          <h1 class="h1">
            <span>LISA :</span>
            <br>
            UNE ALLIANCE DE COMPÉTENCES AU SERVICE DES AVOCATS
          </h1>
          <a href="#sectionService">
            Les acteurs
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="service-avocat">
    <div class="container-large">
      <div fxLayout="row" fxLayoutGap fxLayoutAlign="space-between start">
        <div class="content-service">
          <article>
            <h2 class="h2">
              LISA : L'IMMOBILIÈRE AU SERVICE DES AVOCATS EST NÉE D'UN CONSTAT
            </h2>
            <div class="mt5">
              <p>
                Les avocats ont besoin de se développer et cherchent de nouvelles pistes de revenu.
                <br>
                <br>
                Les avocats ont la possibilité de développer l’activité complémentaire de Mandataire en
                transactions immobilières et de générer ainsi une nouvelle source de revenus. Cependant…
                beaucoup pensent que cette activité est loin de leur métier et est réservée aux
                confrères en droit immobilier. Ils n’ont pas perçu la belle opportunité liée à leur
                relation client quelle que soit la matière dans laquelle ils exercent
                <br>
                <br>
                Ils ont besoin d’avoir une visibilité sur ce que la réglementation leur permet de faire
                dans ce contexte d’activité complémentaire de mandataire en transactions immobilières.
                <br>
                <br>
                Ils ont besoin de se former pour mieux maîtriser les sujets et optimiser leurs actions
                auprès des clients.
                <br>
                <br>
                Ils ont besoin de mettre en place une organisation et d’obtenir les clés pour
                transformer la confiance de leur client en réussite, c'est-à-dire en « vente aboutie »
                d’un bien.
                <br>
                <br>
                Ils ont besoin de soutien pour piloter la mise en vente jusqu’à la vente tout en gardant
                toujours la main sur tout.
                <br><br>
                Les avocats sont les mieux placés pour vendre les biens de leurs clients car la relation
                de confiance est déjà posée et les clients ont la chance d’avoir quelqu’un qui va
                veiller à leurs intérêts à toutes les étapes de la vente. Cette activité complémentaire
                peut être source de nouveau chiffre d’affaires « facile » et non négligeable dans le
                contexte d’évolution des professions actuel. « Facile » parce qu’il est beaucoup plus
                facile pour un avocat de signer un mandat que pour un agent immobilier. Plus compliqué
                est la suite de l’histoire jusqu’à la vente, sauf si l’avocat est bien épaulé et
                bénéficie d’un contexte sécurisé et professionnel.
              </p>
              <blockquote id="debut" class="">
                Forts de ces évidences, ce sont donc 3 professionnels, aux compétences très différentes
                et complémentaires, qui ont décidé de se regrouper pour fournir aux avocats
                l’opportunité de développer l’activité de mandataire en transactions immobilières.
              </blockquote>

              <table class="my3">
                <tbody>
                  <tr>
                    <td>
                      <img src="../../../assets/images/isabelle.png" class="avatar" alt="Isabelle Wien">
                    </td>
                    <td>
                      Isabelle Wien, avocate expert en droit immobilier et en transactions,
                      Responsable du club transactions au sein du réseau international d’Avocat
                      GESICA.
                    </td>
                  </tr>
                  <tr>
                    <td width="125px">
                      <img src="../../../assets/images/frederic.png" class="avatar" alt="Frédéric WEISS">
                    </td>
                    <td>
                      Frédéric WEISS, chef d’entreprises dans le domaine de l’immobilier et du
                      financement. Expert en crédit immobilier, Frédéric est également
                      Co-fondateur de la proptech HOOME, 1ère plateforme digitale collaborative
                      dédiée à l’immobilier et au financement, où tous les intervenants (client,
                      professionnel de l’immobilier, courtier, banque, assureur, notaire) sont
                      réunis ensemble au sein d’un même espace pour finaliser en toute sécurité
                      leurs projets. <br> Il est également Ambassadeur de l’Union des Commerçants
                      du 7ème arrondissement de Paris.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="../../../assets/images/laurent.png" class="avatar" alt="Laurent Forissier">
                    </td>
                    <td>
                      Laurent Forissier, chef d’entreprises, conseiller en gestion de patrimoine,
                      expert en investissement
                      immobilier et immobilier géré, est spécialiste du marché des Résidences
                      Services Seniors et de la «
                      silver
                      économie », sa société INXTENSIA est positionnée sur ce marché depuis plus
                      de dix ans.
                      <br>
                      Laurent est également Co-fondateur avec Frédéric Weiss de la proptech HOOME,
                      1ère plateforme digitale
                      collaborative dédiée à l’immobilier et au financement, où tous les
                      intervenants (client, professionnel
                      de
                      l’immobilier, courtier, banque, assureur, notaire) sont réunis ensemble au
                      sein d’un même espace pour
                      finaliser en toute sécurité leurs projets.
                    </td>
                  </tr>
                </tbody>
              </table>

              <ul class="mb2 list-blue-article">
                <li class="mb2">
                  L’idée est de proposer des outils et services adaptés aux avocats mandataire en transactions
                  immobilières pour faciliter la mise en vente et la vente d’un bien immobilier.
                </li>
                <li>
                  Et de leur ouvrir l’accès à une plateforme collaborative (LISA + avocat + client vendeur + client
                  acheteur) et à un support professionnel adapté au niveau de qualité de la profession, dans le respect
                  de leur déontologie et du droit.
                </li>
              </ul>

              <blockquote class="text-center blockquote-blue blockquote-h1">
                LISA est ainsi née !
              </blockquote>

              <blockquote class="text-center blockquote-blue">
                Une société de services immobiliers
                <br>
                créée pour les avocats
                <br>
                et des professionnels de l’immobilier et du financement.
                <br><br>
                <img class="logo-article" src="../../../assets/images/logo-lisa.svg" alt="">
              </blockquote>

              <blockquote>
                Participez au nouveau projet qui contribue au développement de l'activité de toute la
                profession
              </blockquote>
              <a class="btn-lisa-outlined my5" [routerLink]="ctrl.route.registration">
                inscrivez-vous...
              </a>
            </div>
          </article>
        </div>

        <div class="sidebar-service">
          <h2 class="h2">UNE ALLIANCE DE COMPÉTENCES AU SERVICE DES AVOCATS</h2>
          <div fxLayout="row" class="content-action-btn">
            <a class="btn-lisa-outlined mr4" href="#">
              contact
            </a>
            <a class="btn-lisa-outlined" [routerLink]="ctrl.route.connexion">
              connexion
            </a>
          </div>
          <div>
            <h5 class="text-left text-sm-gt-center h5"># SUIVEZ-NOUS</h5>
            <ul fxLayout="row" fxLayoutGap fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center"
              class="text-sm-gt-center">
              <li>
                <a href="https://www.linkedin.com/company/1274-avocats/" target="_blank" class="inline-block p1"
                  aria-label="immobilier avocat linkedin">

                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/1274_immobili%C3%A8re_des_avocats-102311111670278/" target="_blank"
                  class="inline-block p1" aria-label="immobilier avocat FaceBook">

                </a>
              </li>
              <li>
                <a href="https://twitter.com/1274avocat" target="_blank" class="inline-block p1"
                  aria-label="immobilier avocat twitter">

                </a>
              </li>
              <li>
                <a href="mailto:hello@lisa-plateforme.com" target="_blank" class="inline-block p1"
                  aria-label="immobilier avocat mail">
                  <mat-icon aria-hidden="false" aria-label="Example email icon">email</mat-icon>
                </a>
              </li>
              <li>
                <a href="https://www.google.com/search?ei=GRt_X7mlOoTAa47iiugG&q=1274+avocats&oq=1274+avocats&gs_lcp=CgZwc3ktYWIQAzoHCAAQyQMQEzoECAAQEzoCCCY6CAgAEBYQHhATOggIABDJAxCRAjoFCAAQkQI6BAgAEEM6AggAOgIILjoKCC4QyQMQQxCTAjoFCAAQyQM6BggAEBYQHjoLCAAQyQMQFhAKEB46BQghEKABUK5BWKRlYJhmaAJwAHgAgAFOiAGxBpIBAjEzmAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=psy-ab&ved=0ahUKEwj5laPak6XsAhUE4BoKHQ6xAm0Q4dUDCA0&uact=5#"
                  target="_blank" class="inline-block p1" aria-label="immobilier avocat map">
                  <mat-icon aria-hidden="false" aria-label="Example place icon">place</mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
