form {
    box-shadow: none;
    border: 1px solid rgba(21, 23, 26, 0.3);
    background-color: #fff;
    padding: 5px 10px;
    height: 51px;
    border-radius: 5px;
    min-width: 100px;
    width: 100%;
    margin: 5px 0 10px;
    display: flex;
}