<form #f="ngForm" [formGroup]="parentFormGroup" novalidate>
  <ngx-intl-tel-input [inputId]="'adsasd'" [cssClass]="'form-control'" [preferredCountries]="preferredCountries"
    [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
    [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]" [selectFirstCountry]="false"
    [selectedCountryISO]="countryISO.France" [maxLength]="10" [phoneValidation]="true" [separateDialCode]="true"
    [formControlName]="controlName">
  </ngx-intl-tel-input>
</form>
