@import "../../../../sass/variables.scss";

mat-toolbar {
  background-color: $black-theme;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  @media screen and (max-width: 600px) {
    padding: 0;
  }
.img-logo {
  width: 250px;
  @media screen and (max-width: 600px) {
    width: 200px;
    margin-left: 10px;
  }
  @media screen and (max-width: 442px) {
    width: 180px;
  }
  @media screen and (max-width: 385px) {
    width: 140px;
  }
}
  .title {
    content: initial;
    display: block;
    max-height: 53px;
    margin: auto;
    padding: 12px;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.35s ease-in-out;
    @media screen and (max-width: 600px) {
      padding: 12px 6px;
      font-size: 1rem;
    }
    &:hover {
      color: #00adb5;
    }
  }
}
