<div class="content-header">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="top-header">
      <div>
        <a [routerLink]="ctrl.route.home">
          <img class="img-logo" src="../../../../assets/images/logo-lisa.svg" alt="logo">
        </a>
      </div>
      <span *ngIf="role">
        <i class="material-icons">account_balance_wallet</i>
        {{role.abbreviation}}
      </span>
      <div>
        <a (click)="ctrl.logOut()" href="javascript:void(0)" fxLayout="row" fxLayoutAlign="center start"
          class="link-inscrire">
          <span>{{user.firstname | titlecase}} {{user.lastname | titlecase}}</span>
          <img class="icon-avocat-user" src="../../../../assets/images/icon-avocat-user.png" alt="">
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>