$black-theme: black;
$brown: #948273;
$blue-title: #00adb5;
$black-footer: #333;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-weight: 700;
}
h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

a:hover {
  text-decoration: underline;
}

strong,
b {
  font-weight: 700;
}

ul {
  list-style: none;
}

.container-base {
  max-width: 1600;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.container-large {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
