@import "../../../../sass/variables.scss";

/*mat-toolbar {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;

  .title {
    content: initial;
    display: block;
    max-height: 53px;
    margin: auto;
    padding: 12px;
    color: $black-theme;
    opacity: 0.8;
    transition: opacity 0.35s ease-in-out;
  }
}
*/
.content-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  z-index: 9999;
  mat-toolbar {
    background-color: #ffffff;
    .nav-link-item {
      text-transform: uppercase;
      font-weight: 700;
      color: #000;
      font-size: 1.125rem;
      margin: 0 10px;
      transition: 0.2s ease-in, color 0.2s ease-in;
      &:hover {
        color: $blue-title;
      }
    }
  }
}
.container-menu-responsive {
  height: 100vh;
  position: fixed;
  width: 100%;
  max-width: 90%;
}
.top-header {
  height: 80px;
}
.img-logo {
  width: 320px;
  @media screen and (max-width: 600px) {
    width: 200px;
    margin-left: 10px;
  }
  @media screen and (max-width: 386px) {
    width: 175px;
  }
}
.icon-avocat-user {
  width: 40px;
  padding-left: 4px;
  border-left: 2px solid #a5a5a5;
  @media screen and (max-width: 442px) {
    width: 34px;
  }
}
.link-inscrire {
  text-decoration: none;
  span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: #222;
    padding-right: 10px;
    line-height: 1;
    @media screen and (max-width: 442px) {
      display: none;
    }
  }
}
.menu-responsive {
  mat-nav-list {
    height: 100%;
    a {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 12px;
      @media screen and (max-width: 442px) {
        font-size: 1.25rem;
        padding: 8px;
      }
      &:hover {
        color: $blue-title;
      }
    }
  }
  .close {
    top: 50px;
    right: 50px;
    .mat-icon {
      font-weight: 700;
      font-size: 1.75rem;
      color: #222;
    }
  }
}
