@import "../../../../sass/variables.scss";

/*mat-toolbar {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;

  .title {
    content: initial;
    display: block;
    max-height: 53px;
    margin: auto;
    padding: 12px;
    color: $black-theme;
    opacity: 0.8;
    transition: opacity 0.35s ease-in-out;
  }
}
*/
.content-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  z-index: 9999;
  mat-toolbar {
    background-color: #ffffff;
    .nav-link-item {
      text-transform: uppercase;
      font-weight: 700;
      color: #000;
      font-size: 1rem;
    }
  }
}
.container-menu-responsive {
  height: calc(100vh - 64px);
  position: fixed;
  top: 63px;
  width: 100%;
  max-width: 272px;
}
.top-header {
  height: 80px;
}
.img-logo {
  width: 320px;
  @media screen and (max-width: 600px) {
    width: 200px;
    margin-left: 10px;
  }
  @media screen and (max-width: 386px) {
    width: 175px;
  }
}
.icon-avocat-user {
  width: 40px;
  padding-left: 4px;
  border-left: 2px solid #a5a5a5;
  @media screen and (max-width: 442px) {
    width: 34px;
  }
}
.link-inscrire {
  text-decoration: none;
  span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: #222;
    padding-right: 10px;
    line-height: 1;
    @media screen and (max-width: 442px) {
      display: none;
    }
  }
}
