<app-header-space></app-header-space>

<div class="container">
  <form [formGroup]="mandateForm">
    <h3>Réf Dossier :
      <mat-form-field>
        <input matInput type="text" formControlName="ref">
      </mat-form-field>
    </h3>
    <h1 class="text-center">
      CONVENTION DE MISSION COMPORTANT MANDAT EXCLUSIF EN VUE DE LA VENTE DE BIENS IMMOBILIERS
    </h1>

    <h2><b>ENTRE LES SOUSSIGNES</b></h2>

    <div [formGroup]="situationClientForm">
      <mat-radio-group aria-label="Choisir votre situation" formControlName="client">
        <mat-radio-button value="person">Personne physique</mat-radio-button>
        <mat-radio-button value="society">Société</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-person-information [parentFormGroup]="mandateForm" [display]="client.value == 'person'">
    </app-person-information>

    <app-society-information [parentFormGroup]="mandateForm" [display]="client.value == 'society'">
    </app-society-information>

    <p>
      Agissant <b>en qualité de seul(e)(s) propriétaire(s),</b> et nous engageant à produire tout justificatif de
      propriété ci-après désigné également le " <b>MANDAT</b> ", d'une part,
    </p>

    <p><b>ET :</b></p>

    <div [formGroup]="situationAviForm">
      <mat-radio-group aria-label="Choisir votre situation" formControlName="avi">
        <mat-radio-button value="lawyer">Maître</mat-radio-button>
        <mat-radio-button value="society">Société</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-lawyer-information [parentFormGroup]="mandateForm" [display]="avi.value == 'lawyer'"></app-lawyer-information>

    <app-society-lawyer-information [parentFormGroup]="mandateForm" [display]="avi.value == 'society'">
    </app-society-lawyer-information>

    <p>
      <b>Déclaré le : </b>
      <mat-form-field>
        <input matInput type="date" formControlName="avi_declaration_date">
      </mat-form-field>
      à l'Ordre des avocats en qualité de mandataire en transactions immobilières en applicaiton de l'article 6-45 du
      RIN.
    </p>

    <p>ci après désgnées également l' "<b>AVOCAT MANDATAIRE</b>", d'autre part,</p>

    <p><b><u>IL EST CONTENU ET ARRETE CE QUI SUIT</u> :</b></p>

    <p><b><u>ARTICLE 1 - OBJET DU MANDAT</u></b></p>

    <p>
      Par la présente, le <b>MANDANT</b> confie à l' <b>AVOCAT MANDATAIRE</b> qui accepte la mission: <br>
      - de l'assister et le conseiller pour la réalisation du projet de cession de : <br>
      <textarea class="mt-2 area" formArrayName="object_cession"></textarea>
      de le representer avec un mandat exlcusif en vue de la prise de tout contact en son nom et pour son compte en vue
      de la cession de biens immobiliers tel que décrits en ARTICLE 2 et aux fins de parvenir à la réalisation de
      l'opération envisagée aux charges et conditions qui seront définies ci-après.
    </p>

    <p><b>ARTICLE 2 - <u>DESIGNATION ET CONDITIONS DE VENTE PROPOSEES </u> :</b></p>

    <app-building-information [parentFormGroup]="mandateForm"></app-building-information>

    <app-building-financial [parentFormGroup]="mandateForm" [displayInput]="displayCondition"></app-building-financial>

    <app-text-mission></app-text-mission>

    <app-renumeration-assistance [parentFormGroup]="mandateForm"></app-renumeration-assistance>

    <app-renumeration-transaction [parentFormGroup]="mandateForm"
      [proportional]="additional_hour_type.value == 'proportional'" [lumpsum]="additional_hour_type.value == 'lumpsum'">
    </app-renumeration-transaction>

    <app-text-interruption></app-text-interruption>

    <app-signature [parentFormGroup]="mandateForm"></app-signature>

    <app-retraction [parentFormGroup]="mandateForm"></app-retraction>
  </form>
</div>
