<form [formGroup]="parentFormGroup">
  <p>Adresse :
    <mat-form-field>
      <input matInput type="text" formControlName="address">
    </mat-form-field>
  </p>
  <p>Ville :
    <mat-form-field>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    Code Postal :
    <mat-form-field>
      <input matInput type="text" formControlName="postal_code">
    </mat-form-field>
    Pays :
    <mat-form-field>
      <input matInput type="text" formControlName="country">
    </mat-form-field>
  </p>
</form>
