<div *ngIf="display" [formGroup]="parentFormGroup">
  <p>
    Genre :
    <mat-form-field>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of personGender" [value]="gender.value">
          {{gender.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>Nom :
    <mat-form-field>
      <input matInput type="text" formControlName="last_name">
    </mat-form-field>
  </p>
  <p>Prénom :
    <mat-form-field>
      <input matInput type="text" formControlName="first_name">
    </mat-form-field>
  </p>
  <p>Date de naissance :
    <mat-form-field>
      <input matInput type="date" formControlName="date_birth">
    </mat-form-field>
    Commune de naissance :
    <mat-form-field>
      <input matInput type="text" formControlName="place_birth">
    </mat-form-field>
    Département :
    <mat-form-field>
      <input matInput type="text" formControlName="department">
    </mat-form-field>
  </p>
  <p>De nationalité :
    <mat-form-field>
      <input matInput type="text" formControlName="nationality">
    </mat-form-field>
  </p>

  <h3>Domicilié(e)</h3>

  <app-address-input [parentFormGroup]="parentFormGroup"></app-address-input>

  <app-contact-input [parentFormGroup]="parentFormGroup"></app-contact-input>
</div>
