<div>
  <p>
    <mat-radio-button *ngFor="let gender of personGender" [value]="gender.value">{{gender.display}}</mat-radio-button>
  </p>
  <p>Nom :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>Prénom :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>Date de naissance :
    <mat-form-field>
      <input matInput type="date">
    </mat-form-field>
    Commune de naissance :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
    Département :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>De nationlaité :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>

  <h3>Domicilié(e)</h3>

  <p>Adresse :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>Ville :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
    Code Postal :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
    Pays :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>Tel portable :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
    Tel fix :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
  <p>Adresse email :
    <mat-form-field>
      <input matInput type="text">
    </mat-form-field>
  </p>
</div>
