<app-header></app-header>

<main class="main">
    <section id="bannerHeader">
        <div class="content-banner-header scale-bg">
            <img src="../../../assets/images/solution_avocat_deb.jpg" alt="">
            <div class="md-mx-auto position-absolute content-text-banner-header">
                <div fxLayout="column" fxLayoutAlign="space-between start" class="text-banner">
                    <h1 class="h1">
                        <span>La solution proposée </span>
                        <br>
                        AUX AVOCATS
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section id="subBannerHeader">
        <div class="content-banner-header scale-bg">
            <img src="../../../assets/images/solution_avocat_2.png" alt="">
            <div class="md-mx-auto position-absolute content-text-banner-header">

                <ul fxLayout="column" fxLayoutAlign="space-between start" class="text-banner">
                    <li>
                        <h3 class="h3">
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            Vous souhaitez développer une activité de mandataire en transactions immobilières&nbsp;?
                        </h3>
                    </li>
                    <li>
                        <h3 class="h3">
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            Vous recherchez une source de revenus complémentaires&nbsp;?
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="solution">
        <div class="barre-title">
            <h2 class="h2">
                <span>LA SOLUTION LISA</span> <br>
                A ÉTÉ CONÇUE POUR VOUS !
            </h2>
        </div>
        <div class="cle-en-main">
            <div class="container-large">
                <h2 class="h2">
                    Une solution clé en main pour&nbsp;:
                </h2>
                <div class="content-card-item" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center"
                    fxLayoutAlign.gt-xs="space-between center">
                    <div fxLayout="column" fxLayoutAlign="center center" class="card-item">
                        <span>1</span>
                        <p>Commencer immédiatement à réaliser des ventes immobilières</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="card-item">
                        <span>2</span>
                        <p>Maîtriser l’activité d’avocat mandataire en transactions immobilières</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="card-item">
                        <span>3</span>
                        <p>Piloter la vente des biens immobiliers de vos clients</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="comment-ca-marche">
            <div class="container-large">
                <h2 class="h2">
                    Comment ça marche&nbsp;?
                </h2>
                <div class="content-item" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center"
                    fxLayoutAlign.gt-xs="space-between top">
                    <div fxLayout="column" fxLayoutAlign="start center" class="item">
                        <h3 class="h3">Une plateforme collaborative</h3>
                        <img src="../../../assets/images/plateforme.svg" alt="">
                        <p>Pour gérer et suivre vos mandats</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="item">
                        <h3 class="h3">Des outils et des services</h3>
                        <img src="../../../assets/images/outils.svg" alt="">
                        <p>Pour vous donner toutes les clés afin d’effectuer des transactions immobilières</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="item">
                        <h3 class="h3">Une équipe à votre disposition</h3>
                        <img src="../../../assets/images/equipe.svg" alt="">
                        <p>Pour vous accompagner et vous apporter toute l’expertise immobilière</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pilotez-votes">
        <div class="container-large" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
            fxLayoutAlign.gt-sm="space-between top">
            <div class="content-left-pilote w50" fxLayout="column" fxLayoutAlign="start end">
                <h2 class="h2">PILOTEZ LES VENTES</h2>
                <ul fxLayout="column" fxLayoutAlign="start end">
                    <li>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        En toute simplicité
                    </li>
                    <li>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        Avec des outils adaptés
                    </li>
                    <li>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        Entouré des bonnes compétences
                    </li>
                </ul>
            </div>
            <div class="content-right-pilote w50">
                <div class="mb3">
                    <h3 class="h3">
                        Maitrisez la matière
                    </h3>
                    <p>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        Puisez dans la bibliothèque de textes, d’informations, de modèles et de vidéos
                    </p>
                </div>
                <div class="mb3">
                    <h3 class="h3">
                        Développez vos compétences
                    </h3>
                    <p>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        Formez-vous pour développer vos compétences dans le domaine
                    </p>
                </div>
                <div class="mb3">
                    <h3 class="h3">
                        Avancez bien entouré
                    </h3>
                    <p>
                        <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                        Obtenez des réponses ou une aide opérationnelle à chaque étape : vous êtes entouré des bonnes
                        compétences
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="au-coeur-relation">
        <div class="container-large">
            <div class="service-right pb4" fxLayout="column" fxLayout.gt-sm="row">
                <div class="img-left">
                    <img src="../../../assets/images/solution_avocat_orch.jpg" layout="responsive"
                        alt="l'immobilieredesavocats">
                </div>

                <div class="service-info service-info-right">
                    <h2 class="h2">
                        <span>AU CŒUR DE LA RELATION AVEC VOTRE CLIENT EN ETANT LE CHEF D’ORCHESTRE</span>
                    </h2>
                    <ul>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            <span>Gérez, décidez, validez vos instructions</span> jusqu’à la signature de l’acte de
                            vente avec notre outil en toute simplicité
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            <span>Suivez les étapes</span> en y associant vos clients et les acheteurs (vous avez toute
                            la visibilité et eux aussi !)
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            <span>Pilotez avec l’application</span> et renforcez votre relation clients
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="benefices-avocats">
        <div class="container-large">
            <div class="service-left py4" fxLayout="column-reverse" fxLayout.gt-sm="row">

                <div class="service-info service-info-right">
                    <h2 class="h2" id="service">
                        <span>BENEFICES POUR LES AVOCATS</span>
                    </h2>
                    <ul>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            Gérez, décidez, validez vos instructions jusqu’à la signature de l’acte de vente avec notre
                            outil en toute simplicité
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            Suivez les étapes en y associant vos clients et les acheteurs (vous avez toute la visibilité
                            et eux aussi !)
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example email icon">play_arrow</mat-icon>
                            Pilotez avec l’application et renforcez votre relation clients
                        </li>
                    </ul>
                </div>
                <div class="img-right">
                    <img src="../../../assets/images/solution_avocat_benefice.png" layout="responsive" alt="droit immo">
                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>