main {
  margin-top: 80px;
  @media screen and (max-width: 960px) {
    margin-top: 64px;
  }
  .content-banner-header {
    position: relative;
    height: 100%;
    max-height: 650px;
    overflow: hidden;
    @media screen and (max-width: 720px) {
      height: 400px;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 650px;
    }
    .content-text-banner-header {
      width: 100%;
      top: 26%;
      margin: auto;
      @media screen and (max-width: 442px) {
        top: 16%;
      }
      .text-banner {
        padding: 24px;
        @media screen and (max-width: 610px) {
          padding: 16px;
        }
        h1 {
          color: #fff;
          line-height: 44px;
          margin-bottom: 24px;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1;
          max-width: 500px;
          @media screen and (max-width: 960px) {
            font-size: 3rem;
          }
          @media screen and (max-width: 575px) {
            font-size: 2.75rem;
          }
        }
      }

      a {
        background-color: #fff;
        border: none;
        color: #222;
        font-size: 0.94rem;
        font-weight: 700;
        padding: 0.5rem 2rem;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        text-transform: uppercase;
        color: #222;
        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
    }
  }
}

.private-header {
  background: white;
  opacity: 0.8;
  padding: 35px;
  width: 50%;
}

.container-navigate-mandats {
  height: 150px;
  width: 185px;
  font-size: large;
  background: white;
  opacity: 0.9;
  clip-path: polygon(0% 0%, 99% 0%, 99% 100%, 18% 100%, 0% 82%);
  color: orangered;
}

.container-navigate {
  height: 150px;
  width: 185px;
  font-size: large;
  background: #a0afc1;
  clip-path: polygon(0% 0%, 99% 0%, 99% 100%, 18% 100%, 0% 82%);
  padding-left: 15px;
}
