<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <span *ngIf="role">
        <i class="material-icons">account_balance_wallet</i>
        {{role.abbreviation}}
      </span>
      <span>
        <i class="material-icons">person</i>
        {{user.firstname | titlecase}} {{user.lastname | titlecase}}
      </span>
    </a>
  </li>
</ul>

<div class="container">
  <div class="private-header">
    <div class="text-decoration-none inline-block mx-auto ampstart-headerbar-home-link mb0 md-mb0">
      <img src="../../../assets/images/logo_LISA_quadri.png" width="330" height="97">
    </div>
    <br>
    <h3 class="h4"><b> Bienvenue ... sur votre espace privé. </b></h3>
    <h3 class="h5">Ici vous trouverez :
      des documents, des formations, des conseils, des outils, des informations pour réaliser au mieux vos ventes
      immobilières.
    </h3>
  </div>

  <div class="d-flex">
    <div class="ampstart-btn ampstart-btn-secondary md-m20 container-navigate-mandats"
      title="Accès privé à la plateforme 1GER pour la gestion et le suivi de vos dossiers. La plateforme vous permet de lancer la commercialisation dun bien immobilier très facilement.">
      Plateforme de gestion de des mandats
    </div>
    <div class="ampstart-btn ampstart-btn-secondary md-m20 container-navigate"
      (click)="ctrl.scrollElement(documentation)">
      Documentation
    </div>
    <div class="ampstart-btn ampstart-btn-secondary md-m20 container-navigate" (click)="ctrl.scrollElement(advice)">
      FIches Conseils
    </div>
  </div>

  <div class="mt-4">
    <section #documentation>
      <div class="row">
        <div class="col-md-4">
          Documentation
          <hr>
          <ul>
            <li (click)="toogleView('d01')">D01 - Mandat</li>
            <li (click)="toogleView('d02')">D02 - Déclaration d’activité</li>
            <li (click)="toogleView('d03')">D03 - Loi ALUR</li>
            <li (click)="toogleView('d04')">D04 - Guide pratique</li>
          </ul>
        </div>
        <div class="col-md-8">
          <app-private-documentation [d01]="d01" [d02]="d02" [d03]="d03" [d04]="d04"></app-private-documentation>
        </div>
      </div>
    </section>
    <section #advice>
      <div class="row">
        <div class="col-md-4">
          Fiches Conseils
          <hr>
          <ul>
            <li (click)="toogleView('c01')">C01 - Comment convaincre ?</li>
            <li (click)="toogleView('c02')">C02 - Comment détecter ?</li>
            <li (click)="toogleView('c03')">C03 - Les points forts de LISA</li>
            <li (click)="toogleView('c04')">C04 - Pourquoi développer mon activité ?</li>
            <li (click)="toogleView('c05')">C05 - Les étapes d'une vente</li>
            <li (click)="toogleView('c06')">C06 - Les diagnostics immobiliers</li>
          </ul>
        </div>
        <div class="col-md-8">
          <app-private-advice [c01]="c01" [c02]="c02" [c03]="c03" [c04]="c04" [c05]="c05" [c06]="c06">
          </app-private-advice>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
