<app-header-space></app-header-space>

<div class="container">
  <form [formGroup]="mandateForm">
    <h3>Réf Dossier :
      <mat-form-field>
        <input matInput type="text" formControlName="ref">
      </mat-form-field>
    </h3>
    <h1 class="text-center">
      CONVENTION DE MISSION COMPORTANT MANDAT EXCLUSIF EN VUE DE LA VENTE DE BIENS IMMOBILIERS
    </h1>

    <h2><b>ENTRE LES SOUSSIGNES</b></h2>

    <div [formGroup]="situationForm">
      <mat-radio-group aria-label="Choisir votre situation" formControlName="situation">
        <mat-radio-button value="person">Personne physique</mat-radio-button>
        <mat-radio-button value="society">Société</mat-radio-button>
      </mat-radio-group>
    </div>

    <app-person-information [parentFormGroup]="mandateForm" [display]="situation.value == 'person'">
    </app-person-information>

    <app-society-information [parentFormGroup]="mandateForm" [display]="situation.value == 'society'">
    </app-society-information>
  </form>
</div>
