<app-header-space></app-header-space>

<div class="container">
  <form [formGroup]="mandateForm">
    <h3>Réf Dossier :
      <mat-form-field>
        <input matInput type="text" formControlName="ref">
      </mat-form-field>
    </h3>
    <h1 class="text-center">
      CONVENTION DE MISSION COMPORTANT MANDAT EXCLUSIF EN VUE DE LA VENTE DE BIENS IMMOBILIERS
    </h1>

    <h2><b>ENTRE LES SOUSSIGNES</b></h2>

    <app-person-information [parentFormGroup]="mandateForm" [display]="true"></app-person-information>
  </form>
</div>
