<app-header-registration [displayConnexion]="false"></app-header-registration>

<div class="page-container container text-center">
  <h1>Connexion à votre espace privé</h1>
  <h2>Content de vous retrouver: saisissez votre email et mot de passe pour retrouver votre espace privé et sécurisé
  </h2>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Mot de passe" formControlName="password">
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" (click)="connexion()">VALIDER</button>
      <button class="btn btn-success" [routerLink]="ctrl.route.registration">
        Créer un compte si c’est votre première connexion
      </button>
    </div>
  </div>
</div>
