<app-header-registration [displayConnexion]="false"></app-header-registration>

<div class="connexion container-large text-center">
  <div class="content-title">
    <h1 class="h1">Connexion à votre espace privé</h1>
    <p class="p">Content de vous retrouver: <br> saisissez votre email et mot de passe pour retrouver votre espace privé
      et sécurisé</p>
  </div>
  <div class="card">
    <div class="content-form">
      <form [formGroup]="userForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" placeholder="" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input class="form-control" type="password" id="password" placeholder="" formControlName="password">
        </div>
      </form>
    </div>
    <div class="action-btn">
      <button class="btn btn-success" (click)="connexion()">VALIDER</button>
      <button class="btn btn-success" [routerLink]="ctrl.route.registration">
        Créer un compte si c’est votre première connexion
      </button>
    </div>
  </div>
</div>
<footer class="footer-registration">
  <p>made with ❤ by LISA</p>
</footer>