<div class="container-advice">
  <div class="row" *ngIf="c01">
    <h1>C01 - Comment convaincre vos clients de vous confier un mandat de vente exclusif</h1>
    <h5>Pour convaincre un client de vous confier un mandat de vente exclusif, il va falloir argumenter et lui démontrer
      tous les avantages que vous pouvez lui procurer en tant qu’avocat mandataire en transactions immobilières.</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
  <div class="row" *ngIf="c02">
    <h1>C02 - Comment détecter les biens à vendre</h1>
    <h5>Les avocats sont les mieux placés pour vendre les biens de leurs clients quelles que soient les matières dans
      lesquelles ils exercent. Récapitulatif des informations nécessaires pour détecter les biens à vendre.</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
  <div class="row" *ngIf="c03">
    <h1>C03 - Les points forts de l’accompagnement LISA</h1>
    <h5>L’avocat a toute légitimité à proposer ses services en tant que mandataire en transactions immobilières.
      L’avocat est un acteur de confiance qui protège les intérêts de ses clients en connaissance de la réglementation
      et de sa vision des contentieux potentiels. Grâce à l’accompagnement par LISA, l’avocat pourra renforcer sa
      crédibilité et obtenir d’excellents résultats.</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
  <div class="row" *ngIf="c04">
    <h1>C04 - Développer mon activité de mandataire en transactions immobilières avec LISA</h1>
    <h5>Qui ne souhaite pas développer son chiffre d'affaires, sa rentabilité ?</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
  <div class="row" *ngIf="c05">
    <h1>C05 - Les étapes d’une vente immobilière</h1>
    <h5>Les grandes étapes à respecter pour la vente d'un bien immobilier.</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
  <div class="row" *ngIf="c06">
    <h1>C06 - Les Diagnostics immobiliers</h1>
    <h5>LES DIAGNOSTICS IMMOBILIERS <br>
      Lors d’une vente immobilière, un certain nombre de diagnostics doivent être obligatoirement présentés à
      l’acheteur. <br>
      Procéder au diagnostic immobilier consiste à faire passer un contrôle technique à votre bien, qui sera évalué
      selon différents critères préétablis. <br>
      L’ensemble de ces diagnostics doivent être regroupés au sein d’un dossier de diagnostic technique (DDT), annexé à
      la promesse de vente lors de la cession d’un bien.</h5>
    <input type="button" class="btn btn-secondary" value="Lire en ligne">
  </div>
</div>