<!-- <app-header-registration [displayConnexion]="false" [displayRegistration]="false"></app-header-registration> -->

<div class="container">
  <div class="mt-3">
    <h3 class="d-inline">Liste des rôles</h3>
    <button type="button" class="btn btn-md btn-primary d-inline float-right"
      (click)="resetForm(); ctrl.openModal(actionModal, '')">
      Nouveau
    </button>
    <button type="button" class="btn btn-md btn-primary d-inline float-right" [routerLink]="ctrl.route.adminUserList">
      Liste des utilisateurs
    </button>
  </div>

  <div class="card container mt-4">
    <table datatable class="table-striped row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>Description</th>
          <th>Abbréviation</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of listRole" class="animate__animated animate__flipInX cursor-cl">
          <td (click)="selectRole(role, actionModal)">{{role.label}}</td>
          <td (click)="selectRole(role, actionModal)">{{role.abbreviation}}</td>
          <td (click)="selectRole(role, actionModal)">
            <span *ngIf="role.active">Actif</span>
            <span *ngIf="!role.active">Inactif</span>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="selectRole(role, deleteModal)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #actionModal>
  <div class="modal-header">
    <h5 *ngIf="action == 'add'">Ajout role</h5>
    <h5 *ngIf="action == 'update'">Modification role</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ctrl.closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-connect">
    <form [formGroup]="roleForm">
      <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" formControlName="label">
      </div>
      <div class="form-group">
        <label>Abbréviation</label>
        <input class="form-control" type="text" formControlName="abbreviation">
      </div>
      <div class="form-group">
        <label>Status</label>
        <mat-checkbox formControlName="active"></mat-checkbox>
      </div>
    </form>
  </div>
  <div class="form-group d-flex justify-content-center mt-5">
    <button *ngIf="action == 'add'" [disabled]="!roleForm.valid" class="btn btn-md btn-primary mr-1"
      (click)="addRole()">
      Ajouter
    </button>
    <button *ngIf="action == 'update'" [disabled]="!roleForm.valid" class="btn btn-md btn-primary mr-1"
      (click)="updateRole()">
      Modifer
    </button>
    <button class="btn btn-md btn-primary ml-1" (click)="resetForm()">
      Annuler
    </button>
  </div>
</ng-template>

<ng-template #deleteModal>
  <app-modal-delete title="role" subtitle="ce role" (emitDelete)="deleteRole()"></app-modal-delete>
</ng-template>
