<app-header></app-header>

<main class="main">
  <section id="bannerHeader">
    <div class="content-banner-header scale-bg">
      <img src="../../../assets/images/banner-header.jpg" alt="">
      <div fxLayout="column" fxLayoutAlign="space-between center"
        class="md-mx-auto position-absolute content-text-banner-header">
        <div class="text-banner">
          <h1 class="h1">
            <span>UNE SOLUTION NOUVELLE </span>
            <br>
            EXCLUSIVEMENT DÉDIÉE AUX AVOCATS
          </h1>
          <p>
            Pour piloter et développer l’activité complémentaire de mandataire en transactions immobilières
          </p>
        </div>
        <a href="#sectionService">
          suite
        </a>
      </div>
    </div>
  </section>
  <section id="sectionService">
    <div class="container-base" fxLayout="column" fxLayoutGap fxLayoutAlign="center center">
      <div class="service-right pb4" fxLayout="column" fxLayout.gt-sm="row">
        <div class="img-left">
          <img src="../../../assets/images/1274-pilotage-avocat.jpg" layout="responsive" alt="l'immobilieredesavocats">
        </div>

        <div class="service-info service-info-right">
          <h2 class="h2">
            LISA, LA SOLUTION DE <span>PILOTAGE DE VENTE DE BIENS IMMOBILIERS</span> adaptée AUX <span>AVOCATS</span>,
            RESPECTUEUSE des <span>règles et usages</span> de la profession
          </h2>
          <ul>
            <li>Les avocats sont les mieux placés pour vendre les biens immobiliers de leurs clients&nbsp;!</li>
            <li>Ils connaissent les tenants et aboutissants de chaque lot et de chaque affaire.</li>
            <li>Les avocats peuvent développer de nouvelles sources de revenus.</li>
          </ul>
          <p class="p">
            <span>UNE SOLUTION NOUVELLE CLÉS EN MAIN RIEN QUE POUR LES
              AVOCATS&nbsp;!</span>
          </p>

          <a class="btn-lisa-outlined" [routerLink]="ctrl.route.registration">
            Inscription
          </a>
        </div>
      </div>
      <div class="service-left py4" fxLayout="column-reverse" fxLayout.gt-sm="row">

        <div class="service-info service-info-right">
          <h2 class="h2" id="service">
            TRANSACTIONS IMMOBILIÈRES :<span> DÉVELOPPEZ UNE ACTIVITÉ COMPLÉMENTAIRE</span>
          </h2>
          <p class="subtitle">
            Grâce à notre outil de gestion et de suivi des transactions, les avocats peuvent réaliser des mandats de
            ventes immobilières avec leurs clients :
          </p>
          <h4>LISA :</h4>
          <ul>
            <li>permet le pilotage de la vente à distance par l'avocat</li>
            <li>propose accompagement et formation (à la vente immobilière)</li>
            <li>mène à la réussite par la maitrise de la décision finale qui revient à l'avocat et son client</li>
          </ul>
          <p class="p">
            <span>LES AVOCATS ONT TOUT POUR REUSSIR</span>
          </p>
          <a class="btn-lisa-outlined" [routerLink]="ctrl.route.registration">
            Inscription
          </a>
        </div>
        <div class="img-right">
          <img src="../../../assets/images/1274-droit-immobilier.jpg" layout="responsive" alt="droit immo">
        </div>
      </div>
      <div class="service-right py4" fxLayout="column" fxLayout.gt-sm="row">
        <div class="img-left">
          <img src="../../../assets/images/1274-avocat-chef.png" layout="responsive" alt="Avocat chef">
        </div>

        <div class="service-info service-info-right">
          <h2 class="h2" id="service">
            LISA, <span>VOTRE SOLUTION</span> DE PILOTAGE DE TRANSACTION
          </h2>
          <ul>
            <li>Vous bénéficiez d'un <b>outil de gestion et de suivi de toutes les actions</b> , grâce à une plateforme
              de pilotage de la chaîne immobilière.</li>
            <li>Vous êtes <b>informé à toutes les étapes, vous validez</b>, seul ou avec votre client, les différentes
              phases de la vente.</li>
            <li>Vous êtes <b>responsable, pilote du projet</b> et <b>assisté par des professionnels</b>.</li>
          </ul>
          <p class="p">
            <span>L'AVOCAT EST ICI LE CHEF D'ORCHESTRE</span>
          </p>

          <a class="btn-lisa-outlined" [routerLink]="ctrl.route.registration">
            Inscription
          </a>
        </div>
      </div>

      <div id="objectifLisa">
        <div class="service-left py4" fxLayout="column-reverse" fxLayout.gt-sm="row">
          <div class="service-info service-info-right">
            <h2 class="h2">LES OBJECTIFS DE LISA</h2>
            <ul>
              <li><b>Aider les avocats</b> à <span>développer une activité complémentaire</span> de mandataire en
                transaction immobilière.
              </li>
              <li><b>Fournir aux avocats</b><span> des outils et services</span> pour se former et être en mesure de
                proposer des mandats à leurs clients.
              </li>
              <li><b>Proposer</b><span> les compétences de professionnels expérimentés</span> et sérieux ainsi qu'un
                <b>outil de suivi efficace.</b>
              </li>
            </ul>
          </div>
          <div class="img-right ">
            <div class="avantage-section position-relative scale-bg">
              <img src="../../../assets/images/1274-immo-fond.jpg" layout="responsive" alt="droit immo">
              <div class="position-absolute avantage-text">
                <h2 class="h2">
                  VOS AVANTAGES
                </h2>
                <ul>
                  <li>Développement d'activité</li>
                  <li>Accompagnement pour proposer des mandats</li>
                  <li>Sécurisation de l’opération immobilière</li>
                  <li>Outil de suivi des mandats</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="inscrivezVous">
    <div class="content-banner-header scale-bg">
      <img src="../../../assets/images/1274-immo-avocat-signature-L.jpg" alt="">
      <div fxLayout="row" fxLayoutAlign="start center" class="md-mx-auto position-absolute content-text-banner-header">
        <div class="container-large px-0">
          <div class="text-banner">

            <h2 class="h2">
              Inscrivez-vous
            </h2>
            <div class="action-flex" fxLayout="row" fxLayoutAlign="space-around center">
              <a href="/sign_up/" target="_blank">
                Juste un email
              </a>
              <a href="/1274-avocat/" target="_blank">
                En savoir plus
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>