<div [formGroup]="parentFormGroup" *ngIf="display">
  <p>
    <b>La société ou AARPI :</b>
    <mat-form-field>
      <input matInput type="text" formControlName="avi_society_name">
    </mat-form-field>
  </p>
  <p>
    Forme juridique :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_legal_status">
    </mat-form-field>
  </p>
  <p>
    Au capital de :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_society_capital">
    </mat-form-field> €
  </p>
  <p>
    RCS de :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_rcs">
    </mat-form-field>
    N° :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_id_number">
    </mat-form-field>
  </p>

  <h3>Siège social :</h3>

  <app-address-input [parentFormGroup]="parentFormGroup" address="avi_address" city="avi_city"
    postalCode="avi_postal_code" country="avi_country"></app-address-input>

  <h3>Représentée par :</h3>

  <p>
    Nom :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_last_name">
    </mat-form-field>
    Prénom :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_first_name">
    </mat-form-field>
  </p>
  <p>
    Avocat au Barreau de :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_lawyer_office">
    </mat-form-field>
    N° de toque :
    <mat-form-field>
      <input matInput type="text" formControlName="avi_toque">
    </mat-form-field>
  </p>

  <app-contact-input [parentFormGroup]="parentFormGroup" personnalPhone="avi_personnal_phone" homePhone="avi_home_phone"
    email="avi_email">
  </app-contact-input>
</div>
