@import "~@angular/material/theming";

@include mat-core();

$LISA-primary: mat-palette($mat-indigo);
$LISA-accent: mat-palette($mat-pink, A200, A100, A400);

$LISA-warn: mat-palette($mat-red);

$LISA-theme: mat-light-theme($LISA-primary, $LISA-accent, $LISA-warn);

@include angular-material-theme($LISA-theme);

@import "./sass/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, sans-serif !important;
}

.cursor-pt {
  cursor: pointer;
}

.cursor-cl {
  cursor: cell;
}

.main-container {
  position: relative !important;
  width: 100%;
  font-size: 36px;
  min-height: calc(100vh - 64px);

  @media (max-width: 475px) {
    min-height: calc(100vh - 56px);
    padding-top: 56px;
  }

  .page-container {
    margin-top: 70px !important;
    position: relative;

    h1 {
      color: $blue-title;
    }

    h2 {
      color: $brown;
    }
  }
}
